alembic
autopep8
click
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
pycodestyle
PyMySQL
python-dotenv
SQLAlchemy
toml
Werkzeug
zipp
